

/*body {
	background: url(stephaniedawsonback.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
} */

.navbar-nav li a:hover {
	color: #1abc9c !important;
}

@font-face {
	font-family: name;
	src: url(type.ttf);
}

.navbar {
  background-color: #ffffff;
  border: 0;

}

.navbar-brand {
  font-family: name;
  letter-spacing: 7px;
  font-size: 35px;
  color: #000000;
}

.bg-6 { 
    background-color: #ffffff;
    color: #333;
    letter-spacing: 2px;
}